@import './base.css';

a {text-decoration: none;}
ul, li {list-style: none;padding: 0;margin: 0;}

.top {padding: 5px 10px;}
.icon-xs {width: 15px;height: 15px;}
.icon-ms {width: 20px;height: 20px;}
.icon-md {width: 30px;height: 30px;}

/* background-color */
.bg-mt {background-color: var(--color-background-meituan);}
.bg-grey {background-color: var(--color-background-grey);}

/* position: fixed */
.ps-f {position: fixed;}
.ps-f-mid {left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

/* flex */
.flex {display: flex;}
.flex-ai-midline {align-items: center;}
.flex-jc-center {justify-content: center;}
.flex-wrap {display: flex;flex-wrap: wrap;}
.flex-jc-sa {justify-content: space-around;}
.flex-jc-sb {justify-content: space-between;}

/* grid */
.grid {display: grid;}